<!-- templates/error.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Error - Radiology Analysis</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container error">
      <h1>Error</h1>
      <p>{{ message }}</p>
      <p>Ini Mungkin Karena:</p>
      <ul>
        <li>Sesi Sudah Habis</li>
        <li>Hasil Sudah Pernah Dilihat</li>
        <li>Token salah</li>
      </ul>
      <p>Kontak bagian Radiologi atau IT untuk Bantuan Lebih lanjut.</p>
    </div>
  </body>
</html>
